<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="1" name="Test">
    <classes>
      <class name="Ninja.qa.SearchTest"/>
      <class name="Ninja.qa.LoginTest"/>
      <class name="Ninja.qa.RegisterTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
